@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Anton&family=Anton+SC&family=Antonio:wght@100..700&family=Barriecito&family=Golos+Text:wght@400..900&family=Grechen+Fuemen&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Modern+Antiqua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Righteous&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Anton&family=Anton+SC&family=Barriecito&family=Golos+Text:wght@400..900&family=Grechen+Fuemen&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Modern+Antiqua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Righteous&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Anton+SC&family=Barriecito&family=Golos+Text:wght@400..900&family=Grechen+Fuemen&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Modern+Antiqua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Righteous&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Barriecito&family=Golos+Text:wght@400..900&family=Grechen+Fuemen&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Modern+Antiqua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Righteous&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Golos+Text:wght@400..900&family=Grechen+Fuemen&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Righteous&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Golos+Text:wght@400..900&family=Grechen+Fuemen&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Righteous&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Golos+Text:wght@400..900&family=Grechen+Fuemen&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Golos+Text:wght@400..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Golos+Text:wght@400..900&family=Grechen+Fuemen&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Golos+Text:wght@400..900&family=Grechen+Fuemen&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Golos+Text:wght@400..900&family=Grechen+Fuemen&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Modern+Antiqua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Righteous&family=Roboto:wght@100;300;400;500&display=swap");
.nav .part-1 a {
  color: #000;
}
.nav .part-2 .one {
  color: #1f1e1e;
}
.nav .part-2 .sub {
  color: #3f3c3c;
}
.part-3 .contact {
  text-decoration: none;
  color: #000000;
  border: 1px solid rgb(0, 0, 0);
  padding: 1.2vw 1.4vw;
  border-radius: 9vw;
  font-size: 1vw;
  transition: 0.2s;
}
.part-3 .contact:hover {
  background-color: #000000;
  border-color: #ffffff;
  color: #fff;
}

.part-3 .gallary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 1.5vw;
  border-radius: 9vw;
  background-color: #000000;
  border: 1px solid #000000;
  gap: 0.5vw;
  text-decoration: none;
  transition: 0.2s;
}
.part-3 .gallary p {
  color: #ffffff;
}
.part-3 .gallary:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
.moving-products-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 6vw;
  gap: 3vw;
  z-index: -1;
}

.moving-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  display: flex;
}

.moving-wrapper {
  display: flex;
  white-space: nowrap;
}

.moving-one {
  font-size: 23.5vw;
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
  color: #523122;
  letter-spacing: -1.1vw;
  font-weight: 700;
  line-height: 105%;
  white-space: nowrap;
  padding-right: 10vw; /* Space between duplicates */
}
.tricker-zest {
  color: #e3a458;
}
.products-short-para {
  font-size: 1.04vw;
  font-weight: 400;
  line-height: 115%;
  text-align: center;
  font-family: "Nunito sans";
  color: #523122;
  width: 28vw;
}
@media (max-width: 768px) {
  /* #productContainer {
    flex-direction: row;
    gap: 2vw;
  }
  .product {
    width: 40vw;
  } */
  .page1 {
    min-height: 50vh;
  }
  .moving-products-text {
    margin-top: 13vw;
  }
  .moving-one {
    font-size: 30vw;
  }
  .products-short-para {
    font-size: 4vw;
    padding: 2vw;
    font-weight: 600;
    width: 90%;
  }
  .part-3 .gallary {
    padding: 3vw 3.5vw;
  }
  .hum-burger-menu .one,
  .hum-burger-menu .two {
    background-color: #000;
  }
}
